* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

:root {
    --cell-size: 150px;
    --mark-size: calc(var(--cell-size) * .9);
    --lime-green: rgb(172, 255, 47);
    --purple: rgb(109, 67, 90);
    --powder-blue: rgb(197, 231, 226);
    --rose: rgb(255, 112, 122);
    --white: rgb(248, 255, 244);
}

.container {
    width: 100vw;
    height: 100vh;
}

h1 {
    padding: 1rem;
    font-size: 10rem;
    color: silver;
}

/************************** Board Styles **************************/

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--powder-blue);
    border-radius: 25px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* Any cell that has been already clicked will get this cursor */
.cell.x,
.cell.o {
    cursor: not-allowed;
}


/************************** X and O Mark STYLES **************************/
/* X */
/* Change color of X marker */
.cell.x::before,
.cell.x::after {
    background-color: var(--rose);
}

/* Change color of X marker when just hovering over cell */
.board.x .cell:not(.x):not(.o):hover:before,
.board.x .cell:not(.x):not(.o):hover:after {
    background-color: var(--white);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    width: calc(var(--mark-size) * .20);
    height: var(--mark-size);
    border-radius: 50px;
    position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

/* o */
.cell.o::before,
.cell.o::after {
    background-color: var(--purple);
}

.board.o .cell:not(.x):not(.o):hover:before,
.board.o .cell:not(.x):not(.o):hover:after {
    background-color: var(--white);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    border-radius: 50%;
    position: absolute;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

/* To make inner o */
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .6);
    height: calc(var(--mark-size) * .6);
    background-color: var(--powder-blue);
}

/************************** WINNING MESSAGE STYLES **************************/
/* Winning message background pop-up stlyes */
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 5rem;
}

/* Style for when .show class has been added to div */
.winning-message.show {
    display: flex;
}

.winning-message button {
    padding: .5rem 1rem;
    font-size: 3rem;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.winning-message button:hover {
    background-color: var(--powder-blue);
}